h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.list a {
  text-decoration: none;
}

body {
  color: #757575;
  font-family: roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
}

.card-img {
  display: block;
}

.pre-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.util-accent:hover,
.util-accent:focus {
  color: #2196f3;
  fill: #2196f3;
  outline: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  /* outline: 2px solid teal; */
  background-color: #ffffff;
}

@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  color: #212121;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  text-decoration: none;
  font-family: raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo span {
  color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 100%;
  max-width: 450px;
  max-height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__button {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  fill: #afb1b8;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__icon {
  display: block;
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon:hover {
  fill: #2196f3;
}

.form-modal__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media (min-width: 1200px) {
  .form-modal__title {
    line-height: 1.15;
  }
}

.form-field {
  position: relative;
  display: flex;
  margin-bottom: 28px;
}

.form-field:focus-within > .form-field__icon {
  fill: #2196f3;
}

.form-field:focus-within > .form-field__input {
  border-color: #2196f3;
  outline: none;
}

@media (max-width: 1199.98px) {
  .form-field {
    flex-direction: column;
    align-self: stretch;
  }
  .form-field:focus-within > .form-field__label {
    color: #2196f3;
  }
}

.form-field__label {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__label {
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.form-field__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input.comments {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.form-field.comments {
  margin-bottom: 20px;
}

.button--form {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-checkbox__label,
.form-checkbox__link {
  padding-left: 24px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .form-checkbox__label,
  .form-checkbox__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-checkbox__link {
  display: inline;
  text-decoration-line: underline;
  color: #2196f3;
  margin: 0;
  padding: 0;
}

.form-checkbox__unchecked {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  margin-right: 5px;
  border: 2px solid #2a2a2a;
  border-radius: 2px;
  background: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox__input:checked ~ .form-checkbox__unchecked {
  background: transparent;
  border: transparent;
}

.form-checkbox__checked {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.form-checkbox__input {
  overflow: hidden;
}

.form-checkbox {
  position: relative;
  display: flex;
  margin-bottom: 28px;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .form-checkbox {
    padding-left: 12px;
  }
}

.subscribe {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
    margin-top: 12px;
  }
}

.form-footer {
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .form-footer {
    display: flex;
    align-items: center;
  }
}

.form-footer__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .form-footer__input {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .form-footer__input {
    width: 358px;
  }
}

.form-footer__field:focus-within > .form-footer__input {
  border-color: #2196f3;
  outline: none;
}

.subscribe .button--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1199.98px) {
  .subscribe .button--footer {
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .subscribe .button--footer {
    margin-left: 12px;
  }
}

.button__icon {
  margin-left: 10px;
}

.button,
.form-button {
  display: block;
  width: 200px;
  height: 50px;
  border: 10px transparent;
  border-radius: 4px;
  padding: 0;
  margin: auto;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__link:hover {
  color: #ffffff;
  background-color: #2196f3;
  outline: none;
}

.socials-list__link:focus {
  color: #ffffff;
  background-color: #2196f3;
  outline: none;
}

.socials-list__item:not(:last-child) {
  margin-right: 10px;
}

.socials-list__icon {
  fill: currentColor;
}

.mob-menu {
  position: fixed;
  z-index: 10;
  background-color: #ffffff;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
}

@media (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mob-menu__btn {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
}

.mob-menu__btn:hover, .mob-menu__btn:focus {
  fill: #2196f3;
}

@media (min-width: 768px) {
  .mob-menu__btn {
    display: none;
  }
}

.mob-menu__btn--close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mob-menu__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.mob-menu__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.mob-menu-top__link {
  font-size: 40px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu-top__link.current {
  color: #2196f3;
}

.mob-menu-top__item {
  margin-bottom: 32px;
}

.mob-menu-bottom__item {
  margin-top: 32px;
}

.mob-menu-bottom__phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-menu-bottom__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-menu-bottom__list-social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.mob-menu-bottom__link-social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-bottom__item-social:not(:last-child) {
  margin-right: 20px;
}

.mob-menu-bottom__item-social:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__container {
  border-bottom: 1px solid #ececec;
}

.logo--dark {
  color: #212121;
}

@media (max-width: 767.98px) {
  .header__list {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__list {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .header__list {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-left: auto;
  }
}

.header__link {
  display: flex;
  align-items: center;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .header__item:last-child {
    margin-top: 10px;
  }
}

@media (min-width: 1200px) {
  .header__item:last-child {
    margin-left: 50px;
  }
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile@2x.jpg");
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet.jpg");
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet@2x.jpg");
  }
}

@media screen and (min-width: 769px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desktop.jpg");
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desktop@2x.jpg");
  }
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media (max-width: 1199.98px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-left: 88px;
}

@media (max-width: 767.98px) {
  .nav__list {
    display: none;
  }
}

@media (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link.current {
  color: #2196f3;
}

.nav__current {
  position: relative;
}

.nav__current::after {
  content: "";
  position: absolute;
  top: 46px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  animation-name: changes;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

@keyframes changes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
}

.pre-title--feature {
  margin-bottom: 10px;
  color: #212121;
}

@media (max-width: 767.98px) {
  .pre-title--feature {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .feature-list__item {
    width: 354px;
  }
}

@media (min-width: 1200px) {
  .feature-list__item {
    width: 270px;
  }
}

.feature-list__text {
  letter-spacing: 0.03em;
}

.feature-list__wrap {
  padding: 25px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.feature-list__icon {
  display: block;
}

.trend {
  padding-top: 0px;
}

@media (max-width: 1199.98px) {
  .trend {
    display: none;
  }
}

.trend-list {
  display: flex;
}

.trend-list__item {
  position: relative;
}

.trend-list__item:not(:last-child) {
  margin-right: 30px;
}

.pre-title--trend {
  color: #ffffff;
}

.trend-list__content {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.command {
  background-color: #f5f4fa;
}

.command-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
}

.command-list__item {
  padding-bottom: 24px;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .command-list__item {
    width: 354px;
  }
}

@media (min-width: 1200px) {
  .command-list__item {
    padding-bottom: 30px;
    width: 270px;
  }
}

.command-list__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 30px auto 10px;
  display: block;
  text-align: center;
}

.command-list__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.socials-list__link--transparent {
  background-color: transparent;
  color: #afb1b8;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767.98px) {
  .clients-list {
    margin: -15px;
  }
}

@media (min-width: 768px) {
  .clients-list {
    gap: 30px 30px;
  }
}

@media (max-width: 767.98px) {
  .clients-list__item {
    flex: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 92px;
}

@media (min-width: 768px) {
  .clients-list__link {
    width: 226px;
  }
}

@media (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
  }
}

.clients-list__link:hover {
  color: #2196f3;
  border: 1px solid #2196f3;
  outline: none;
}

.clients-list__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
  outline: none;
}

.clients-list__icon {
  fill: currentColor;
  display: block;
}

.filter {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}

@media (max-width: 767.98px) {
  .filter .item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  cursor: pointer;
  color: #212121;
  background-color: #f5f4fa;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 30px 30px;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .filter-list {
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .filter-list {
    margin-top: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .filter-list .item {
    width: 354px;
  }
}

.filter-list .title {
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filter-list .content {
  border: 1px solid #eeeeee;
  border-top: 0px;
  padding: 20px 24px;
  flex-grow: 1;
}

.filter-list .text {
  margin-top: 2px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.filter-list .desc {
  position: relative;
  overflow: hidden;
}

.filter-hover {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-hover:focus, .filter-hover:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.filter-hover:hover .filter-desc-overlay,
.filter-hover:focus .filter-desc-overlay {
  transform: translateY(0);
  opacity: 1;
}

.filter-desc-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0.2;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-desc-overlay .text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 1199.98px) {
  .footer {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .bloks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.address-list {
  display: block;
  margin-top: 20px;
}

.address-list__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__text {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-list__item {
  display: block;
  width: 231px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .address-list__item {
    margin-top: 9px;
  }
}

.logo--light {
  color: #ffffff;
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .join {
    margin-bottom: 118px;
    margin-left: 165px;
  }
}

@media (min-width: 1200px) {
  .join {
    margin-left: 70px;
    margin-top: 12px;
  }
}

.pre-title--footer {
  color: #ffffff;
}

@media (max-width: 767.98px) {
  .pre-title--footer {
    margin-top: 60px;
  }
}

.socials-list--footer {
  margin-top: 20px;
}

.socials-list__link--dark {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}
/*# sourceMappingURL=main.css.map */