.business {
  padding-top: 0px;
}
.business-list {
  display: flex;
}
.card-img {
  display: block;
}
.business-list .item {
  position: relative;
}
.business-list .item:not(:last-child) {
  margin-right: 30px;
}
.business-list .title {
  color: var(--primary-white-color);
}
.business-item {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}
